{% extends 'RzAdminBundle:CRUD:list.html.twig' %}

{% block preview %}
    <ul class="nav nav-pills">
        {% for name, context in media_pool.contexts %}
            {% if name == persistent_parameters.context %}
                <li class="active"><a class="text-uppercase" href="{{ admin.generateUrl('list', {'context' : name }) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% else %}
                <li><a class="text-uppercase" href="{{ admin.generateUrl('list', {'context' : name }) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
