.rz-media-featured-gallery {
    margin-bottom: 20px;
    margin-top: 20px;
}

.rz-media-featured-gallery-container h3 {
    margin-bottom: 20px !important;
}
.rz-media-featured-gallery-content {
    height: 300px !important;
}
