{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.title %}
        <h3 class="sonata-media-block-media-title">{{ settings.title }}</h3>
    {% endif %}

    <div class="sonata-media-block-media-container">
        {% if media %}
            {% if settings.format is not null and settings.format != 'reference'%}
                {% media media, settings.format %}
            {% else %}
                {# TODO: fix error temp solution #}
                {% media media, 'reference' %}
            {% endif %}
        {% else %}
            {# no media selected ... #}
        {% endif %}
    </div>
{% endblock %}
