<div class="row-fluid">
    <div class="span12">
        <h1>{{ gallery.name }}</h1>
    </div>
</div>

<div class="masonry-container">
    <div class="masonry-gallery" data-masonry-options="{ 'isFitWidth': true, 'itemSelector': '.gallery-item', 'gutter': 10 }">

        {% for galleryHasMedia in gallery.GalleryHasMedias %}
            <div class="gallery-item">
                <a class="sonata-media-gallery-media-item-link" href="{{ url('rz_media_view', {'galleryId':gallery.id,'id': galleryHasMedia.media|sonata_urlsafeid }) }}">
                    {% thumbnail galleryHasMedia.media, gallery.defaultFormat with {'style':'width:380px;', 'height': 'auto'} %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    jQuery(document).ready(function() {

        $(".masonry-gallery").imagesLoaded(function(){
            $(".masonry-gallery").masonry({
                'isFitWidth': true,
                'itemSelector': '.gallery-item',
                'gutter': 10
            });
        });
    });
</script>
