{% if admin.hasRoute('edit') and admin.isGranted('EDIT') %}
    <div class="row-fluid">
        <div class="span12">
            {% media object, 'reference'  with {'class': 'img-polaroid'} %}
        </div>
        <div class="span12">
            <a href="{{ admin.generateObjectUrl('edit', object) }}" target="new">{{ description }}</a>
        </div>
    </div>
{% else %}
    <div class="row-fluid">
        <div class="span12">
            {% media object, 'reference'  with {'class': 'img-polaroid'} %}
        </div>
    </div>
{% endif %}
